<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="dialect">com.electricdroid.dialect.SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
	    <property name="connection.url">jdbc:sqlite:12.db</property> 
		<property name="connection.username"></property>
		<property name="connection.password"></property>
		
        <property name="hibernate.connection.CharSet">UTF-8</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        
        <property name="connection.CharSet">UTF-8</property>
        <property name="connection.characterEncoding">UTF-8</property>
        <property name="connection.useUnicode">true</property>
		<!-- Database Scheme Auto Update -->
        <property name="hbm2ddl.auto">update</property>
	 	<mapping resource="ChatList.hbm.xml" /> 
	 	<mapping resource="WaContacts.hbm.xml" />
	 	<mapping resource="Message.hbm.xml" />
	</session-factory>
</hibernate-configuration>
